In [1]:
import pandas as pd

In [6]:
casualty5years_df = pd.read_csv('Data\PrimaryData\dft-road-casualty-statistics-casualty-last-5-years.csv',low_memory=False)
vehicle5years_df = pd.read_csv('Data\PrimaryData\dft-road-casualty-statistics-vehicle-last-5-years.csv',low_memory=False)
collision5years_df = pd.read_csv('Data\PrimaryData\dft-road-casualty-statistics-collision-last-5-years.csv',low_memory=False)

In [10]:
casualty2023_df = pd.read_csv('Data\PrimaryData\dft-road-casualty-statistics-casualty-provisional-mid-year-unvalidated-2023.csv',low_memory=False)
vehicle2023_df = pd.read_csv('Data\PrimaryData\dft-road-casualty-statistics-vehicle-provisional-mid-year-unvalidated-2023.csv',low_memory=False)
collision2023_df = pd.read_csv('Data\PrimaryData\dft-road-casualty-statistics-collision-provisional-mid-year-unvalidated-2023.csv',low_memory=False)

In [32]:
cols = {'accident_index':'collision_index','accident_year':'collision_year','accident_reference':'collision_reference',
        'accident_severity':'legacy_collision_severity','did_police_officer_attend_scene_of_accident':'did_police_officer_attend_scene_of_collision',
        'lsoa_of_accident_location':'lsoa_of_collision_location'}
casualty5years_df.rename(columns=cols,inplace=True)
vehicle5years_df.rename(columns=cols,inplace=True)
collision5years_df.rename(columns=cols,inplace=True)

In [33]:
print(casualty5years_df.shape)
print(vehicle5years_df.shape)
print(collision5years_df.shape)

(693028, 19)
(990153, 28)
(538461, 36)

In [34]:
print(casualty2023_df.shape)
print(vehicle2023_df.shape)
print(collision2023_df.shape)

(62674, 19)
(89494, 28)
(49316, 36)

In [35]:
casualty5years_df.columns == casualty2023_df.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [36]:
vehicle5years_df.columns == vehicle2023_df.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [37]:
collision5years_df.columns == collision2023_df.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [53]:
casualty_df = pd.concat([casualty5years_df,casualty2023_df],axis=0)
vehicle_df = pd.concat([vehicle5years_df,vehicle2023_df],axis=0)
collision_df = pd.concat([collision5years_df,collision2023_df],axis=0)

In [67]:
print(casualty_df.shape)
print(vehicle_df.shape)
print(collision_df.shape)
print(casualty2023_df.shape[0]+casualty5years_df.shape[0],casualty2023_df.shape[1])
print(vehicle2023_df.shape[0]+vehicle5years_df.shape[0],vehicle5years_df.shape[1])
print(collision2023_df.shape[0]+collision5years_df.shape[0],collision5years_df.shape[1])

(755702, 19)
(1079647, 28)
(587777, 36)
755702 19
1079647 28
587777 36

In [ ]:
print(casualty5years_df.shape)
print(vehicle5years_df.shape)
print(collision5years_df.shape)

(693028, 19)
(990153, 28)
(538461, 36)

In [79]:
casualty_df[casualty_df.duplicated(subset=['collision_index'])]

,collision_index,collision_year,collision_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty
1,2018010080971,2018,010080971,2,2,1,1,48,8,3,0,0,0,0,0,8,1,1,E01002066
6,2018010080982,2018,010080982,2,2,2,2,58,9,2,0,0,1,0,0,9,1,3,E01000392
8,2018010080983,2018,010080983,1,2,2,1,56,9,3,0,0,2,0,0,9,1,10,E01000280
9,2018010080983,2018,010080983,1,3,2,2,60,9,3,0,0,2,0,0,9,1,10,E01000280
10,2018010080983,2018,010080983,2,4,1,2,41,7,3,0,0,0,0,0,9,1,9,E01000202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62636,2023991328668,2023,991328668,4,3,1,1,55,8,3,0,0,0,0,0,1,1,9,-1
62637,2023991328668,2023,991328668,5,4,1,1,57,9,3,0,0,0,0,0,1,-1,-1,-1
62638,2023991328668,2023,991328668,6,2,1,1,55,8,2,0,0,0,0,0,1,1,4,-1
62649,2023991339651,2023,991339651,2,2,1,2,55,8,3,0,0,0,0,0,9,3,6,-1
62654,2023991344073,2023,991344073,2,2,2,2,17,4,3,0,0,1,0,0,9,-1,-1,-1

In [82]:
collision_df[collision_df.duplicated(subset=['collision_index'])]

Empty DataFrame
Columns: [collision_index, collision_year, collision_reference, location_easting_osgr, location_northing_osgr, longitude, latitude, police_force, legacy_collision_severity, number_of_vehicles, number_of_casualties, date, day_of_week, time, local_authority_district, local_authority_ons_district, local_authority_highway, first_road_class, first_road_number, road_type, speed_limit, junction_detail, junction_control, second_road_class, second_road_number, pedestrian_crossing_human_control, pedestrian_crossing_physical_facilities, light_conditions, weather_conditions, road_surface_conditions, special_conditions_at_site, carriageway_hazards, urban_or_rural_area, did_police_officer_attend_scene_of_collision, trunk_road_flag, lsoa_of_collision_location]
Index: []

[0 rows x 36 columns]

In [86]:
vehicle_df[vehicle_df.duplicated(subset=['collision_index'])]

,collision_index,collision_year,collision_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,vehicle_location_restricted_lane,...,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type,lsoa_of_driver
1,2018010080971,2018,010080971,2,8,0,18,3,7,0,...,1,48,8,1798,8,6,TOYOTA PRIUS+,1,1,E01002066
4,2018010080974,2018,010080974,2,9,0,18,4,8,0,...,1,21,5,-1,-1,-1,-1,5,1,E01000036
6,2018010080981,2018,010080981,2,19,0,18,3,7,0,...,1,30,6,-1,-1,-1,-1,3,1,E01003588
8,2018010080982,2018,010080982,2,9,0,18,7,3,0,...,1,55,8,-1,-1,-1,-1,3,1,E01000392
10,2018010080983,2018,010080983,2,9,0,18,5,1,0,...,2,41,7,1197,1,3,NISSAN QASHQAI,9,1,E01000202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89481,2023991357840,2023,991357840,2,9,0,15,5,1,0,...,2,76,11,-1,-1,-1,-1,-1,-1,-1
89483,2023991357891,2023,991357891,2,9,0,5,2,6,0,...,2,19,4,-1,-1,-1,-1,7,3,-1
89487,2023991365442,2023,991365442,2,98,0,15,1,1,0,...,1,58,9,-1,-1,-1,-1,3,1,-1
89491,2023991369054,2023,991369054,2,9,0,12,7,3,0,...,1,36,7,-1,-1,-1,-1,-1,-1,-1
89493,2023991369155,2023,991369155,2,1,0,5,5,1,9,...,1,8,2,-1,-1,-1,-1,-1,-1,-1

In [88]:
vehicle_df[vehicle_df['collision_index']=='2018010080971']

,collision_index,collision_year,collision_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,vehicle_location_restricted_lane,...,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type,lsoa_of_driver
0,2018010080971,2018,010080971,1,9,0,18,3,7,0,...,1,32,6,1995,2,5,BMW 5 SERIES,8,1,E01011051
1,2018010080971,2018,010080971,2,8,0,18,3,7,0,...,1,48,8,1798,8,6,TOYOTA PRIUS+,1,1,E01002066

In [89]:
casualty_df[casualty_df['collision_index']=='2018010080971']

,collision_index,collision_year,collision_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty
0,2018010080971,2018,010080971,1,1,2,2,50,8,3,0,0,2,0,0,9,1,8,E01011051
1,2018010080971,2018,010080971,2,2,1,1,48,8,3,0,0,0,0,0,8,1,1,E01002066

In [92]:
pd.set_option('display.max_columns',60)
collision_df[collision_df['collision_index']=='2018010080971']

,collision_index,collision_year,collision_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,legacy_collision_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,local_authority_district,local_authority_ons_district,local_authority_highway,first_road_class,first_road_number,road_type,speed_limit,junction_detail,junction_control,second_road_class,second_road_number,pedestrian_crossing_human_control,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_collision,trunk_road_flag,lsoa_of_collision_location
0,2018010080971,2018,010080971,529150.0,182270.0,-0.139737,51.524587,1,3,2,2,01/01/2018,2,01:30,2,E09000007,E09000007,3,501,3,30,0,-1,0,-1,0,0,4,1,1,0,0,1,1,2,E01000854

In [93]:
collision_df.columns

Index(['collision_index', 'collision_year', 'collision_reference',
       'location_easting_osgr', 'location_northing_osgr', 'longitude',
       'latitude', 'police_force', 'legacy_collision_severity',
       'number_of_vehicles', 'number_of_casualties', 'date', 'day_of_week',
       'time', 'local_authority_district', 'local_authority_ons_district',
       'local_authority_highway', 'first_road_class', 'first_road_number',
       'road_type', 'speed_limit', 'junction_detail', 'junction_control',
       'second_road_class', 'second_road_number',
       'pedestrian_crossing_human_control',
       'pedestrian_crossing_physical_facilities', 'light_conditions',
       'weather_conditions', 'road_surface_conditions',
       'special_conditions_at_site', 'carriageway_hazards',
       'urban_or_rural_area', 'did_police_officer_attend_scene_of_collision',
       'trunk_road_flag', 'lsoa_of_collision_location'],
      dtype='object')